<footer class="ui inverted vertical footer segment my-segment">
  <div class="ui container">
    <div class="ui stackable divided inverted equal width grid">
      <!-- <div class="column">
        <h4 class="ui inverted header">Column 1</h4>
        <div class="ui inverted link list">
          <a class="item" href="#">Link 1</a>
          <a class="item" href="#">Link 2</a>
          <a class="item" href="#">Link 3</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header">Πληροφορίες</h4>
        <div class="ui inverted link list">
          <a class="item" href="#">Link 4</a>
          <a class="item" href="#">Link 5</a>
          <a class="item" href="#">Link 6</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header">Υποστήριξη</h4>
        <div class="ui inverted link list">
          <a class="item" href="#">Link 7</a>
          <a class="item" href="#">Link 8</a>
          <a class="item" href="#">Link 9</a>
        </div>
      </div> -->
      <div class="column">
        <h4 class="ui inverted header">Stay Connected</h4>
        <div class="ui inverted link list social">
          <a class="item" href="#"><i class="instagram icon"></i></a>
          <a class="item" href="#"><i class="facebook square icon"></i></a>
          <a class="item" href="#"><i class="linkedin icon"></i></a>
          <a class="item" href="#"><i class="telegram icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
