// .ui.carousel {
//   width: 100%;
//   overflow: hidden;
//   white-space: nowrap;
// }

// .ui.carousel .cards {
//   display: inline-block;
//   white-space: normal;
//   transition: transform 0.3s;
// }

// .ui.carousel .card {
//   display: inline-block;
//   width: 300px;
//   margin: 0 10px;
// }

// .carousel {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
// }

// .carousel-inner {
//   display: flex;
// }

// .cards-container {
//   display: flex;
//   transition: transform 0.5s;
// }

// .card {
//   width: 200px;
//   margin: 0 10px;
//   background-color: #f2f2f2;
//   padding: 20px;
// }

// .carousel-controls {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .carousel-control {
//   border: none;
//   background: none;
//   outline: none;
//   cursor: pointer;
// }

// .prev {
//   float: left;
// }

// .next {
//   float: right;
// }

// .ui.icon.button {
//   padding: 50%;
// }

.ui.container {
  margin: 3%;
}

h2 {
  font-size: 2.7rem;
}

.secondary {
  font-size: 2rem;
}

.ui.button {
  font-size: 3rem;
  color: #fff;
}

.ui.button:hover,
.ui.button:active,
.ui.button:focus {
  color: #fff;
}

.left,
.right {
  background-color: transparent !important; /* Change the color as per your requirement */
}

.carousel {
  position: relative;
  overflow: hidden;
  margin: 5% 0;
}

.ui.cards {
  flex-wrap: nowrap;
  overflow: hidden;
  font-size: 2rem;
}

.cards {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.ui.three.cards {
  margin: 1% auto;
}

.card {
  flex: 0 0 33.33%;
  padding: 1em;
  cursor: pointer;
  height: 47rem;
}

.card:hover {
  transform: translate(0, -4px);
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 1em;
}

.right {
  right: 1em;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 92%;
  }
}
