<app-header></app-header>
<div class="ui middle aligned center aligned grid signup-form-wrapper">
  <div class="column signup-form">
    <h2 class="ui teal image header">
      <div class="content">Sign up</div>
    </h2>
    <form [formGroup]="theSignupForm" class="ui large form">
      <div class="ui stacked segment">
        <div
          class="field"
          [ngClass]="{
            error: theSignupForm.get('username')!.invalid && isSubmitted
          }"
        >
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input
              formControlName="username"
              class="form-row"
              type="email"
              placeholder="E-mail address"
            />
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div
              class="field"
              [ngClass]="{
                error: theSignupForm.get('firstName')!.invalid && isSubmitted
              }"
            >
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input
                  formControlName="firstName"
                  class="form-row"
                  type="text"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div
              class="field"
              [ngClass]="{
                error: theSignupForm.get('lastName')!.invalid && isSubmitted
              }"
            >
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input
                  formControlName="lastName"
                  class="form-row"
                  type="text"
                  placeholder="Last Name"
                />
              </div>
            </div>
          </div>
        </div>
        <ng-container formGroupName="passwordsForm">
          <div
            class="field"
            [ngClass]="{
              error:
                theSignupForm.get('passwordsForm.password')!.invalid &&
                isSubmitted
            }"
          >
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input
                formControlName="password"
                class="form-row"
                type="password"
                placeholder="Password"
              />
            </div>
          </div>
          <div
            class="field"
            [ngClass]="{
              error:
                theSignupForm.get('passwordsForm.passwordConfirm')!.invalid &&
                isSubmitted
            }"
          >
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input
                formControlName="passwordConfirm"
                class="form-row"
                type="password"
                placeholder="Confirm Password"
              />
            </div>
          </div>
        </ng-container>

        <div
          (click)="signup(theSignupForm)"
          class="ui massive fluid large teal submit button"
        >
          Sign Up
        </div>
      </div>

      <div
        *ngIf="theSignupForm.invalid && isSubmitted"
        class="ui error message"
      >
        Υπάρχει κάποιο λάθος στη φόρμα!!
      </div>
    </form>
    <div class="ui massive message">
      Already have an account? <a routerLink="/login">Login</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
