.ui.menu {
  font-size: 1.5rem;
  justify-content: space-between;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

// .ui.menu .item {
//   padding-right: 25%;
// }

.ui.menu .item:before {
  content: none;
  // width: 0;
}

.ui.menu:after {
  content: none;
}

#home-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 5%;
  & img {
    width: 7rem;
    justify-self: flex-start;
    flex: 1 0 auto;
    // padding-left: 3%;
  }
}

.ui.menu .dropdown.item .menu {
  min-width: max-content;
}

#hamburger {
  display: none;
}
.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  width: 100%;
}
@media (max-width: 768px) {
  /* Show the mobile menu on small screens */

  #hamburger {
    display: block;
  }

  /* Hide the desktop menu items on small screens */
  #normal-menu {
    display: none;
  }
}
