<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<div class="ui container">
  <div class="ui grid my-grid">
    <div class="ui card my-card fluid column">
      <div class="row">
        <div class="twelve wide column">
          <img class="ui fluid image" src="{{ event.coverImage }}" />
          <h2 class="ui header">{{ event.title }}</h2>
          <p>Ημερομηνία: {{ event.date }}</p>
          <p>Τοποθεσία: {{ event.location }}</p>

          <p>Περιγραφή: {{ event.description }}</p>
        </div>
      </div>

      <router-outlet></router-outlet>
      <!-- <div class="row">
        <div class="twelve wide column">
          <div class="ui calendar" id="calendar">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Select a Date" />
            </div>
          </div>
          <div class="ui fluid massive teal button" (click)="buyTicket()">
            Buy Ticket
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<app-footer></app-footer>
