.ui.secondary.pointing.menu {
  font-size: 1.8rem;
  position: sticky;
  left: 0;
  top: 0;
  box-shadow: rgba(29, 33, 41, 0.15) 0px 30px 20px -32px;
  background: #ffffff;
  z-index: 99999;
}

#img img {
  width: 3rem;
}
